
header {
    background-image: url(/img/header-bg.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  
   .header-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: end;
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{
        color: $text-color;
        font-size: 4vmin;
    }
    .red-line{
        margin-bottom: 50px;
    }


   h1{
    font-size: 7vmin;
    color: $text-color;
   }
   } 
   
}