.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem !important;
  width: 100%;
  align-items: center;
  padding: 20px;
  background-color: $secondary-color;

  .logo {
    color: $text-color;
    font-size: 1.7rem;
    cursor: pointer;
  }
  .menu-links {
    display: flex;
    list-style: none;
    gap: 14px;
    height: 60px;
    align-items: center;

    &-item-link {
      text-decoration: none;
      color: $text-color;
      padding: 0 10px;
    }
  }
}
.icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: none;
  img {
    width: 100%;
  }
}
